@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.login-js{
    align-items: center;
    text-align:center;
    position: relative;
    height: 100vh;
    scroll-behavior: smooth;
}

.inicio{
    background: linear-gradient(to top, rgb(240, 248, 255), #f0f8ff57, #f0f8ff25, #f0f8ff00), url("../imagenes/fierros-pantalla-inicial.png");
    background-color: aliceblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion{
    position: relative;
    color: #2a92fd;
    display: flex;
    font-size: 50px;
    padding-top: 320px;
    text-shadow: 2px 2.4px 8.4px #06192e5d;
    max-width: 1200px;
    font-family: 'Poppins', sans-serif;
}

#exampleModal{
  padding: 25px
}

.modal-title{
  font-family: 'poppins';
  font-size: 27px;
  font-style: oblique;
  margin-left: 135px;
}

.inputGroup {
    margin: 0em 0em 0.8em 0;
    max-width: 220px;
    position: relative;
    font-family: "poppins";
}

.inputGroup input {
    font-size: 100%;
    padding: 0.5em 0.8em;
    outline: none;
    border: 2.5px solid rgb(200, 200, 200);
    background-color: transparent;
    width: 100%;
    border-radius: 15px;
    max-width: 320px;
}


.boton-registrarse-iniciar{
    background-color: #2a92fd;
    margin-bottom: 5px;
    color: aliceblue;
    padding: 13px 115px;
    margin-top: 10px;
    font-size: 21px;
    font-weight: 550;
    border-radius: 15px;
    border:none;
    font-family: "poppins";
}

.boton-registrarse-iniciar:hover{
  background-color: #5aaaf5;
}

.boton-ya-tengo-una-cuenta{
    background-color: #1f4263;
    color: aliceblue;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    font-family: "poppins";
}

.boton-ya-tengo-una-cuenta:hover{
  background-color: #254d72;
}

.registrarse{
    padding-bottom: 250px;
    padding-top: 30px;
    position: relative;
    justify-content: center;
}

.whitepaper{
    position: relative;
    background: linear-gradient(to bottom, rgb(240, 248, 255), #2a93fd63), url("../imagenes/fondobestseller.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column;
}

.caja-como-funciona{
    display:flex;
    position:relative;
    flex-direction: column;
    justify-content: left;
    gap: 45px;
    padding: 80px 225px;
}

.como-funciona{
    display: flex;
    position: relative;
    color:  #2a93fdb4;
    font-size: 70px;
    text-shadow: 2px 2.4px 8.4px #06192e6b;
    font-family: 'Poppins', sans-serif;
}

.como-funciona-info{
    position:relative;
    display: flex;
    text-align: left;
    color: rgb(65, 64, 64);
    text-shadow: 1px 1.2px 4px #00020362;
    font-size:35px;
    max-width: 900px;
    font-family: 'Poppins';
}

.cajitas-informativas{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    margin-top: 125px;
    gap:135px
}

.descripcion, .descripcion2, .descripcion3, .descripcion4{
    position: relative;
    user-select: none;
    background-color: rgba(240, 248, 255, 0.644);
    color: #2a92fd;
    border-radius: 22px;
    box-shadow: 0px 2px 3.5px 0px #202020;
    font-size: 28px;
    padding: 10px;
    max-width: 250px;
    text-shadow: 0.5px 1px 2.5px #06192e6b;
    border: #2a92fd solid;
    font-family: 'poppins';
    font-weight: 550;
    transition: all 0.20s ease-in;
}

.descripcion:hover,.descripcion2:hover, .descripcion3:hover, .descripcion4:hover{
    transform: translateY(-54px);
    border:dashed;
    box-shadow: 0px 12px 11.3px 1.5px #202020;
    background-color: aliceblue;
    user-select: none;
}

.descripcion{
    max-height: 285px;
    margin-top: 40px;
}

.descripcion2{
    margin-top: -50px;
    max-height: 375px;
}

.descripcion3{
    max-height: 345px;
    margin-top: -20px;
}

.descripcion4{
    max-height:315px;
    margin-top: 10px;
}

.info{
    display: grid;
    color: rgb(78, 78, 78);
    font-size: 21px;
    text-align: center;
    padding: 8px;
    font-family: 'poppins';
    font-weight: 400;
    text-shadow: 0.5px 1px 2.5px #06192e6b;
}

.advertencia{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight:900;
    text-align: center;
    font-family: 'poppins';
    color: #3d3d3dff;
}